(dp1
S'deviceRefreshRates'
p2
(dp3
S'Light Meter 3000'
p4
(dp5
S'plot'
p6
I1
sS'readings'
p7
F0.10000000000000001
sssS'DataLoggingInfo'
p8
(dp9
NNsg4
(dp10
S'channels'
p11
(dp12
S'Average Light Level'
p13
I01
sS'Light Level'
p14
I01
ssS'name'
p15
g4
sS'location'
p16
S'C:\\Users\\Noah\\Documents\\College\\McDermott\\DatachestRoot\\04_11_17'
p17
sssS'guiRefreshRate'
p18
I1
s.